.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 20px;

    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
      }

    @media screen and (max-width: 1199px) {
        text-align: center;
      }    
    


}

.address__link {
    font-style: normal;
    color: var(--primary-white-color);
    text-decoration: none;
    margin-bottom: 9px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}


.address__list {
    & .address__link:hover,
    & .address__link:focus {
    color: var(--accent-color);
    }
}
