.advantages__list {
  display: block;
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
    }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    .advantages__item {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
    .advantages__item {
      flex-basis: calc((100% - 90px) / 4);
    }
  }
}

.advantages__icon-container {
  height: 120px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-background-color);
}

.advantages__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advantages__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
