.auth-nav {
display: none;
    @media screen and (min-width: 768px) {
        display: block;
        align-items: center;
        gap: 30px;

        .auth-nav__link {
            color: var(--primary-text-color);
            padding: 5px 0;
            transition-property: color, fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
            &:hover,
            &:focus {
            color: var(--accent-color);
            fill: var(--accent-color);
            }
        }
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        gap: 30px;

        .auth-nav__link {
            color: var(--primary-text-color);
            padding: 32px 0;
            transition-property: color, fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
            &:hover,
            &:focus {
            color: var(--accent-color);
            fill: var(--accent-color);
            }
        }
    }

    
}

.auth-nav__item {
    display: block;
    align-items: center;
}

.auth-nav__link {
    display: flex;
    align-items: center;
}

.auth-nav__icon {
    margin-right: 10px;
}

// .auth-nav__link {
//     color: var(--primary-text-color);
//     padding: 32px 0;
//     transition-property: color, fill;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//     color: var(--accent-color);
//     fill: var(--accent-color);
//     }
// }

