.pointer {
    cursor: pointer;
}

.hero-button:hover {
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
}

.button-send {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    

    @media screen and (min-width: 1200px) {
        margin-left: 12px;
      }

    &:hover {
        background: var(--button-color);
    }
}



.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--primary-white-color);
    position: absolute;
    top: 8px;
    right: 8px;
}

.close-icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        fill: var(--accent-color);
    }
}



.send-button {
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: var(--primary-white-color);
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    letter-spacing: 0.06em;
    margin-top: 30px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background: var(--button-color);
    }
}

