.header {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header__container {

    display: flex;
    justify-content: space-between;

  @media (max-width: 767px) {  
    flex-direction: row-reverse;
    align-items: baseline;
  }

  @media (min-width: 768px) {
    align-items: center;
  }
}
