.logo {
    display: block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    // text-decoration: none;
    padding: 24px 0;
}

.logo__second-word {
    color: var(--logo-color);
}

.footer-logo {
    display: block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    // text-decoration: none;
    margin-bottom: 20px;
}


.footer-logo__second-word {
    color: var(--primary-white-color);
}