.projects {
    display: flex;
    
    flex-wrap: wrap;
    gap: 30px;
    // margin-top: -30px;
    // margin-left: -30px;
    @media screen and (max-width: 767px) {

                    justify-content: center;
              }


    @media screen and (min-width: 768px) {

        .projects__item {
            // justify-content: space-between;
          width: calc((100% - 4 * 15px) / 2);
        }
      }
    
      @media screen and (min-width: 1200px) {
        .projects__item {
            justify-content: space-between;
            width: calc(100% / 3 - 30px);
        }
      }

}

.projects__item {
    display: block;
    // margin-top: 30px;
    // margin-left: 30px;
    
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;



}

.projects__link {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

    &:hover .projects__overlay,
    &:focus .projects__overlay {
    transform: translateY(0);
    opacity: 1;
}
}



.projects__thumb {
    position: relative;
    overflow: hidden;
}



.projects__overlay {
    position: absolute;
    bottom: 0;
    background-color: var(--background-overlay);
    pointer-events: none;
    transform: translateY(101%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
}

.projects__text {
    color: var(--primary-white-color);
    margin: 0;
    padding: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: inherit;
    height: 100%;
    display: flex;
    align-items: center;
}

.projects__block {
    padding: 20px 24px;
}

.projects__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-bottom: 4px;
}

.projects__desc {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}